
.data_box{
    width: 80%;
    height:15rem;
    padding: 1rem;
    margin: 1rem auto ;
    background-color:#194350;
    color: white;
    box-shadow:5px 5px #8fd6e1;
}

.vacant
{
   color: rgb(3, 248, 3); 
}

.occupied
{
    color: red;
}