

.data_box{
    width: 60%;
    height:11rem;
    padding: .5rem 1.5rem;
    margin: 2rem auto ;
    background: rgb(73,253,45);
    background: linear-gradient(0deg, rgba(73,253,45,1) 0%, rgba(34,193,195,1) 64%);
    color: white;
    /* box-shadow:5px 5px #8fd6e1; */
    border-radius: 2%;
    
}

.hName
{
    font-size: 1.2rem;
}

.vacant
{
   color:green;
}


.occupied
{
    color: red;
}

@media screen and (max-width: 1327px) {
    .data_box{
        width:90%;
        height:11rem;
    }
  }

  @media screen and (max-width: 992px) {
    .data_box{
        width:90%;
        height:12rem;
    }
  }  

@media screen and (max-width: 415px) {
    .data_box{
        width:90%;
        font-size:.6rem;
        height:14rem;
    }
    .hName{
        font-size:1rem;
    }
    .popup-btn{
        margin-right:11rem;
    }
  }
  

